extends layout

block content
  .row.banner
    .col-12
      p(style="text-align: center; font-family: 'Times New Roman'; font-size: 70px; color: #000; font-weight: bold; margin-top: 130px") CAKE HOUSE
      p(style="text-align: center; font-family: 'Times New Roman'; font-size: 30px; color: #000;") YOUR BITE OF HEAVEN!!
