extends layout
block content
    style.
        .image-container {
            text-align: center; /* Center-align the text */
            padding: 20px; /* Add padding for spacing */
        }
        .image-container img {
            width: 100%; /* Ensure all images have the same width */
            max-height: 200px; /* Set a fixed height for the image containers */
            display: block;
            margin: 0 auto;
        }
        .image-container p {
            margin-top: 5px; /* Add some spacing between image and text */
        }

    .row.banner
        .col-12
            h1 Cakes 
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    .card-primary
                        img.img-fluid.rounded(src='https://assets.winni.in/product/primary/2023/4/84499.jpeg?dpr=1&w=1000')
                        .card-block
                            h2.card-title Chocolate cake
                            p Price : 600
                            P Weight : 1kg
                            p Instock: 20
                            

                    .card-primary
                        img.img-fluid.rounded(src='https://livforcake.com/wp-content/uploads/2017/06/vanilla-cake-4.jpg')
                        .card-block
                            h2.card-title Vanilla cake
                            p Price : 400
                            p Weight : 1kg
                            p Instock: 20
                            

                    .card-primary
                        img.img-fluid.rounded(src='https://imgcdn.floweraura.com/DSC_8932.jpg')
                        .card-block
                            h2.card-title Butterscotch cake
                            p Price : 450
                            p Weight : 1kg
                            p Instock: 20
                            

                    .card-primary
                        img.img-fluid.rounded(src='https://cdn.igp.com/f_auto,q_auto,t_pnopt19prodlp/products/p-classic-black-forest-cake-half-kg--108742-m.jpg')
                        .card-block
                            h2.card-title Black Forest cake
                            p Price : 700
                            p Weight : 1kg
                            p Instock: 16
                            

                    .card-primary
                        img.img-fluid.rounded(src='https://cdn.igp.com/f_auto,q_auto,t_prodl/products/p-heavenly-red-velvet-cake-600-gm--190852-m.jpg')
                        .card-block
                            h2.card-title Red velvet cake
                            p Price : 700
                            p Weight : 1kg
                            p Instock: 16
                            

                    .card-primary
                        img.img-fluid.rounded(src='https://liliyum.com/cdn/shop/products/Pineapple-Mousse-Cake-1_800x.jpg?v=1630928051')
                        .card-block
                            h2.card-title Pine apple cake
                            p Price : 500
                            p Weight : 1kg
                            p Instock: 16

                .col-12.col-md-6
                    .card-primary
                        img.img-fluid.rounded(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5RUkti3ikLYhiJvYTv8ufYbxTsYY6gBXfqA&usqp=CAU')
                        .card-block
                            h2.card-title Strawberry cake
                            p Price : 500
                            p Weight : 1kg
                            p Instock: 40
                            
                    .card-primary
                        img.img-fluid.rounded(src='https://i.pinimg.com/originals/a0/e2/a6/a0e2a65b9d7cb612a82e84dceba647a6.jpg')
                        .card-block
                            h2.card-title Lemon Cake
                            p Price : 550
                            p Weight : 1kg
                            p Instock: 23
                            

                    .card-primary
                        img.img-fluid.rounded(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbmd_AkPwQISPLa-XV9FWUrt6sVUg57SKZVg&usqp=CAU')
                        .card-block
                            h2.card-title Ice Choclate cake
                            p Price : 900
                            p weight : 1kg
                            p Instock: 15
                            

                    .card-primary
                        img.img-fluid.rounded(src='https://static01.nyt.com/images/2022/03/31/dining/two_person_lava_cake_1260/two_person_lava_cake_1260-threeByTwoMediumAt2X.jpg')
                        .card-block
                            h2.card-title ChocoLava cake
                            p Price : 150
                            p Weight : 250g
                            p Instock: 50
                            

                    .card-primary
                        img.img-fluid.rounded(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCYv3ZDVIIZKLdVRXbnJhVPc5rAg7goor5icKRRg-HM4LHJPtCEn3kOr1DfxRMHABXiTM&usqp=CAU')
                        .card-block
                            h2.card-title Raspberry Almond Cake 
                            p Price : 1200
                            p Weight : 1kg
                            p Instock: 5

                    .card-primary
                        img.img-fluid.rounded(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDLIfr9W4LY_GSq3qFR6to7BnkyxOMiu0TAA&usqp=CAU')
                        .card-block
                            h2.card-title Chocolate Cup Cakes 
                            p Price : 100
                            p Quantity : 10 pieces  
                            p Instock: 500
                    .card-primary
                        .card-block
                            a.btn.btn-primary.float-end(href='/menu/review/new') Add review
